body {
    background-color:#c2e7f0;
}
.nav{ 
    background:#F97300;
} /*background for nav*/
/*.nav-link{ color: #f4f4f4; }
.nav-link{ margin-right: 0em }*/
.nav-link:hover{ 
    background: #f4f4f4; cursor: pointer;
}

.placesField {
    margin-top: 10px;
    height: 720px;
    width: 720px;
    background-color: beige;
    margin-right: 0px;
    margin-left: 0px;
    
}

.onePlace {
    height: 70px;
    width: 70px;
    background: burlywood;
    margin: 5px;
}
.row .active {
    background-color: #a5142a;
}

.legend {
    height: 200px;
    width: 720px;
    padding: 0px;
    margin-top: 10px;
    
}
.reserve {
    width: 20px;
    height: 20px;
    background-color: teal;
    position: relative;
    border-radius: 45%;
    padding: 0px;
    
}
.available {
    width: 20px;
    height: 20px;
    background-color:burlywood;
    position: relative;
    border-radius: 45%;
    padding: 0px;
    
}

.sold {
    width: 20px;
    height: 20px;
    background-color:#5b5643;
    position: relative;
    border-radius: 45%;
    padding: 0px;
   
}

.yourChoice {
    width: 20px;
    height: 20px;
    background-color:#a5142a;
    position: relative;
    border-radius: 45%;
    padding: 0px;
  
}

.rowNumber {
    height: 720px;
    width: 70px;
    background-color: beige;
    margin-right: 0;
    margin-top: 10px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
}

.controller {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.cell {
    height: 70px;
    margin: 5px;
    list-style-type: none;
    border: 0px solid rgba(0,0,0,.125);
    background-color: beige;
}

#buyTitle {
    text-align: center;
}
